<%= form_for @question do |f| %>
  <div>
    <%= f.label :title, "Title" %>
    <%= f.text_field :title %>
  </div>

  <div>
    <%= f.label :description, "Description" %>
    <%= f.text_field :description %>
  </div>

  <div>
    <%= f.submit "Submit"%>
  </div>

<% end %>
